.order .orderStatusSelect {
    margin-bottom: 10px;
}

.list p.consignee {
    padding: initial;
    margin: initial;
}

.goodsDetail img {
    width: 50px;
    height: 50px;
}

.goodsDetail .line {
    margin: 3px 0;
    height: 1px;
    width: 100%;
    background-color: #eee;
}

.goodsDetail:first-child .line {
    display: none;
}