.addGoods .form {
    padding-bottom: 50px;
}

.addGoods .cover .item {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #d0d2d0;
    cursor: pointer;
    overflow: hidden;
}

.cover .item i {
    width: 100%;
    font-size: 20px;
    color: #d0d2d0;
    text-align: center;
    line-height: 100px;
}

.cover .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 997;
}

.cover .item .el-icon-delete {
    display: none;
    position: absolute;
    left: 0;
    z-index: 999;
    color: #fcfcfc;
}

.cover .item .mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .6;
}

.cover .item:hover .el-icon-delete, .cover .item:hover .mask {
    display: inline-block;
}

.btn-box {
    position: fixed;
    bottom: -20px;
    padding: 20px 0;
    width: 100%;
    height: 40px;
    z-index: 99999;
    background-color: #fff;
}

#wangeditor {
    position: relative;
    z-index: 1;
}


.el-input >>> input::-webkit-outer-spin-button, 
.el-input >>> input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.el-input >>> input[type='number'] {
  -moz-appearance: textfield;
}

.attrImg .img {
    float: left;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    width: 100px;
    height: 140px;
    background-color: #eee;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}

.attrImg .img .name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
}

.attrImg .img img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    height: 100px;
}

.attrImg .img .reset {
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    background-color: rgba(0,0,0,.5);
    color: #fff;
}

.attr >>> .el-select {
    margin-right: 10px;
    margin-bottom: 10px;
}

.attrList .item div {
    display: inline-block;
}

.attrList .item .el-input {
    margin-left: 10px;
    width: 100px;
}

.attrList .item .del {
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
} 