.addGoods .form {
    padding-bottom: 200px;
}

.addGoods .cover .item {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #d0d2d0;
    cursor: pointer;
    overflow: hidden;
}

.cover .item i {
    width: 100%;
    font-size: 20px;
    color: #d0d2d0;
    text-align: center;
    line-height: 100px;
}

.cover .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 997;
}

.cover .item .el-icon-delete {
    display: none;
    position: absolute;
    left: 0;
    z-index: 999;
    color: #fcfcfc;
}

.cover .item .mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .6;
}

.cover .item:hover .el-icon-delete, .cover .item:hover .mask {
    display: inline-block;
}

.btn-box {
    position: fixed;
    bottom: -20px;
    padding: 20px 0;
    width: 100%;
    height: 40px;
    z-index: 99999;
    background-color: #fff;
}