.typeList .item {
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    overflow: hidden;
    zoom: 1;
}

.typeList .label {
    float: left;
    width: 100px;
    line-height: 50px;
}

.typeList .priority {
    float: left;
    line-height: 50px;
    width: 100px;
}

.typeList img {
    float: left;
    width: 50px;
    height: 50px;
    background-color: #eee;
}

.typeList .del,
.typeList .modify {
    float: left;
    padding: 0 20px;
    line-height: 50px;
    cursor: pointer;
}