.typeList {
    margin-top: 20px;
}

.typeList .item {
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    overflow: hidden;
    zoom: 1;
}

.typeList .label {
    float: left;
    width: 100px;
    line-height: 50px;
}

.typeList .priority {
    float: left;
    line-height: 50px;
    width: 100px;
}

.typeList img {
    float: left;
    width: 50px;
    height: 50px;
    background-color: #eee;
    object-fit: cover;
}

.typeList .del,
.typeList .modify {
    float: left;
    padding: 0 20px;
    line-height: 50px;
    cursor: pointer;
}

.popover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
}

.popover .inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 40vw;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 10px;
}

.popover .inner .el-input {
    position: relative;
    margin-bottom: 10px;
}

.popover .inner img {
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.popover .inner .upload {
    margin-bottom: 10px;
}

.popover .inner .soldOut {
    margin-bottom: 10px;
}