.home {
    width: 100vw;
    height: 100vh;
}

.home .left {
    position: fixed;
    left: 0;
    width: auto;
    height: 100vh;
    background-color: #2470a0;
}

.nav {
    position: relative;
    margin-top: 20px;
}

.nav .item {
    padding: 10px 0;
    width: 140px;
    box-sizing: border-box;
    font-size: 14px;
    text-indent: 10px;
    color: #fff;
    cursor: pointer;
}

.nav .active {
    background-color: #2C8CC4;
}

.left .logout {
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.home .right {
    position: absolute;
    top: 0;
    margin-left: 140px;
    bottom: 0;
    padding: 20px;
    height: auto;
    width: calc(100vw -  140px);
    box-sizing: border-box;
    overflow-y: scroll;
}